<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <% if (items.length) { %>
        <ul id='item-list'>
            <% items.forEach(function(item) { %>
            <li class='item'>
                <span>
                    <a href='<%= item.link %>'><%= item.title %></a>
                    <%= item.time %>
                </span>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </body>
</html>
